{% extends 'base.html' %}

{% block content %}
<h3>Edit a Post</h3>
<form action="/users/{{user_id}}/posts/{{post.id}}/edit" method="POST">
    <label for="title">Title:<br>
        <input type="text" name="title" value = "{{post.title}}"" required>
    </label><br>
    <label for="content">Content:<br>
        <textarea id="content" name = "content" value = {{post.content}}>{{post.content}}</textarea>
    </label><br>
    <label for="tags">Tags</label>:<br>
    {% for tag in tags %}
    <input type="checkbox" id={{tag.id}} name ="tags" value ={{tag.id}}>
        <label for={{tag.id}}>{{tag.name}}</label><br>
    {% endfor %}
    </label><br>
    <button class = 'btn btn-success'>Save</button>  
    <a href="/users/{{user_id}}/posts/{{post.id}}" class = 'btn btn-danger'>Cancel</a>
     
</form>


{% endblock %}